upstream nms {
	server 127.0.0.1:{{ nms_web_port }};
}

upstream nms_player {
	server 127.0.0.1:{{ nms_player_port }};
}

server {
	listen 443 ssl http2;
	server_name '{{ nms.domain }}';
    ssl_certificate /etc/dehydrated/certs/{{ nms.domain }}/fullchain.pem;
    ssl_certificate_key /etc/dehydrated/certs/{{ nms.domain }}/privkey.pem;

	location / {
		proxy_pass http://nms;
		proxy_http_version 1.1;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
	}

	location /player {
		proxy_pass http://nms_player;
		proxy_http_version 1.1;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
	}
}
