<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ nms.player_title }}</title>

		<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
	</head>

	<body>
		<video id="video" muted></video>
		<script>
			if(Hls.isSupported()) {
				var video = document.getElementById('video');
				var hls = new Hls();
				hls.loadSource('https://{{ nms.domain }}/live/' + window.location.hash.substr(1) + '/index.m3u8');
				hls.attachMedia(video);
				hls.on(Hls.Events.MANIFEST_PARSED, function() {
					video.play();
				});
			}
		</script>
	</body>
</html>
