CONFIG=~/.jitsi-meet-cfg
HTTP_PORT={{ jitsi_meet_port }}
HTTPS_PORT=8443
TZ={{ timezone }}
ENABLE_AUTH=0
XMPP_DOMAIN=meet.jitsi
XMPP_SERVER=xmpp.meet.jitsi
XMPP_BOSH_URL_BASE=http://xmpp.meet.jitsi:5280
XMPP_AUTH_DOMAIN=auth.meet.jitsi
XMPP_MUC_DOMAIN=muc.meet.jitsi
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
XMPP_GUEST_DOMAIN=guest.meet.jitsi
XMPP_MODULES=
XMPP_MUC_MODULES=
XMPP_INTERNAL_MUC_MODULES=
JVB_BREWERY_MUC=jvbbrewery
JVB_AUTH_USER=jvb
JVB_STUN_SERVERS=stun.l.google.com:19302,stun1.l.google.com:19302,stun2.l.google.com:19302
JVB_PORT=10000
JVB_TCP_HARVESTER_DISABLED=true
JVB_TCP_PORT=4443
#JVB_ENABLE_APIS=rest,colibri
JICOFO_AUTH_USER=focus
#JICOFO_RESERVATION_REST_BASE_URL=http://reservation.example.com
JIGASI_XMPP_USER=jigasi
JIGASI_BREWERY_MUC=jigasibrewery
JIGASI_PORT_MIN=20000
JIGASI_PORT_MAX=20050
#JIGASI_ENABLE_SDES_SRTP=1
#JIGASI_SIP_KEEP_ALIVE_METHOD=OPTIONS
#JIGASI_HEALTH_CHECK_SIP_URI=keepalive
#JIGASI_HEALTH_CHECK_INTERVAL=300000
#ENABLE_TRANSCRIPTIONS=1
#JIGASI_TRANSCRIBER_RECORD_AUDIO=true
#JIGASI_TRANSCRIBER_SEND_TXT=true
#JIGASI_TRANSCRIBER_ADVERTISE_URL=true
#GOOGLE_APPLICATION_CREDENTIALS=/config/key.json
#ENABLE_RECORDING=1
XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
JIBRI_RECORDER_USER=recorder
JIBRI_RECORDING_DIR=/config/recordings
JIBRI_FINALIZE_RECORDING_SCRIPT_PATH=/config/finalize.sh
JIBRI_XMPP_USER=jibri
JIBRI_BREWERY_MUC=jibribrewery
JIBRI_PENDING_TIMEOUT=90
JIBRI_STRIP_DOMAIN_JID=muc
JIBRI_LOGS_DIR=/config/logs
DISABLE_HTTPS=1
ENABLE_HTTP_REDIRECT=0
