upstream jitsi_meet {
	server 127.0.0.1:{{ jitsi_meet_port }};
}

server {
	listen 443 ssl http2;
	server_name '{{ jitsi_meet.domain }}';
    ssl_certificate /etc/dehydrated/certs/{{ jitsi_meet.domain }}/fullchain.pem;
    ssl_certificate_key /etc/dehydrated/certs/{{ jitsi_meet.domain }}/privkey.pem;

	location / {
		proxy_pass http://jitsi_meet;
		proxy_http_version 1.1;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
	}
}
