upstream murmur_websocket {
	server 127.0.0.1:{{ murmur_websocket_port }};
}

upstream mumble_web {
	server 127.0.0.1:{{ murmur_web_port }};
}

map $http_upgrade $upstream {
	default		mumble_web;
	'websocket'	murmur_websocket;
}

server {
	listen 443 ssl http2;
	server_name '{{ murmur.domain }}';
    ssl_certificate /etc/dehydrated/certs/{{ murmur.domain }}/fullchain.pem;
    ssl_certificate_key /etc/dehydrated/certs/{{ murmur.domain }}/privkey.pem;

	location / {
		proxy_pass http://$upstream;
		proxy_http_version 1.1;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
	}
}
