#!/bin/sh
action=$1

case "$action" in
"deploy_cert")
    domain=$2 key=$3 cert=$4 fullchain=$5
    case "$domain" in
    {% for item in dehydrated.domains %}
    "{{ item.domain }}")
        {{ item.hook | default('echo $domain') }}
        ;;
    {% endfor %}
    esac
esac
